.titulo-destaque {
  color: var(--cor-primaria);
  font-weight: bold;
}

.apresentacao__conteudo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

.apresentacao__conteudo__links__subtitulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--cor-texto);
}

.apresentacao__link {
  /* background-color: #33ccff; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border: var(--cor-primaria) 2px solid;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 0px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
}

.apresentacao__link:hover {
  background-color: #2393b8;
  transition: 1s;
}
