@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #0e68a4;
  --cor-secundaria: #33ccff;
  --cor-texto: #f0f0f0;
  --cor-fundo: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.cabecalho {
  padding: 2% 0 0 15%;
}

.cabecalho__menu {
  display: flex;
  align-items: center;
  gap: 80px;
}

.cabecalho__menu__link {
  text-decoration: none;
  color: var(--cor-primaria);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao__conteudo__titulo,
.titulo-destaque {
  font-family: "Krona One", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.apresentacao__conteudo__descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.foto-perfil {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin-right: 20px;
}

.rodape {
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  background-color: var(--cor-primaria);
  padding: 20px;
}

@media (max-width: 1200px) {
  .cabecalho__menu {
    display: flex;
    justify-content: center;
  }

  .cabecalho {
    padding: 10%;
  }

  .apresentacao {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
    align-items: center;
    text-align: center;
  }
}
